site_name: "COM2009 ROS Labs"
site_url: https://tom-howard.github.io/ros/
site_description: ROS Labs for the COM2009/3009 Robotics Course at The University of Sheffield (and more). 
theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  font: 
    text: Source Sans Pro
    code: Source Code Pro
  palette:
    # Palette toggle for dark mode
    - scheme: slate
      primary: deep purple
      accent: cyan
  custom_dir: overrides

  logo: assets/tuos.png
  favicon: assets/tuos_logo.svg

  features:
    - navigation.tracking
    - navigation.tabs
    - navigation.expand
    - navigation.top
    - navigation.footer
    - navigation.indexes
    - toc.follow
    - content.code.copy
    - content.code.annotate
    - content.action.edit
    - content.action.view
  
copyright: >
  &copy; <a href="https://www.sheffield.ac.uk/engineering/diamond-engineering/our-staff/tom-howard">Tom Howard</a>, The University of Sheffield, 2024 (License: <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC</a>)<br />
  <a href="#__consent">Change cookie settings</a>
repo_url: https://github.com/tom-howard/ros
repo_name: tom-howard/ros
edit_uri: ./edit/main/docs

plugins:
  - search
  - awesome-pages
  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago
      enabled: !ENV [CI, false]
  - privacy:
      enabled: !ENV [CI, false]
  - redirects:
      redirect_maps:
        "com2009/la1/README.md": "com2009/assignment1/README.md"
        "com2009/la1/week1.md": "com2009/assignment1/part1.md"
        "com2009/la1/week2.md": "com2009/assignment1/part2.md"
        "com2009/la1/week3.md": "com2009/assignment1/part3.md"
        "com2009/la1/week4.md": "com2009/assignment1/part4.md"
        "com2009/la1/week5.md": "com2009/assignment1/part5.md"
        "com2009/la1/week6.md": "com2009/assignment1/part6.md"
        "com2009/la2/README.md": "com2009/assignment2/README.md"
        "com2009/la2/getting-started.md": "com2009/assignment2/getting-started.md"
        "com2009/la2/overview.md": "com2009/assignment2/README.md"
        "com2009/la2/task1.md": "com2009/assignment2/parta/task1.md"
        "com2009/la2/task2.md": "com2009/assignment2/parta/task2.md"
        "com2009/la2/task3.md": "com2009/assignment2/README.md"
        "com2009/la2/task4.md": "com2009/assignment2/README.md"
        "com2009/la2/task5.md": "com2009/assignment2/README.md"
        "com2009/la2/extras/laptops.md": "waffles/tips/laptops.md"
        "com2009/la2/extras/submission.md": "com2009/assignment2/submission.md"
        "com2009/la2/extras/README.md": "com2009/assignment2/README.md"
        "wsl-ros/README.md": "software/wsl-ros/install.md"
        "wsl-ros/backup-restore.md": "software/on-campus/getting-started.md"
        "wsl-ros/configure-vscode.md": "software/on-campus/vscode.md"
        "wsl-ros/vscode.md": "software/on-campus/vscode.md"
        "wsl-ros/first-run.md": "software/on-campus/getting-started.md"
        "wsl-ros/wsl-ros-return.md": "software/on-campus/getting-started.md"
        "wsl-ros/rdp.md": "software/on-campus/rdp.md"
        "wsl-ros/wt-settings.md": "software/README.md"
        "wsl-ros/linux-term.md": "software/on-campus/linux-term.md"
        "wsl-ros/installing.md": "software/README.md"  
        "README.md": "https://tom-howard.github.io/ros2/"
        "extras/ros-msgs.md": "https://tom-howard.github.io/ros2/course/"
        "extras/tuos-ros.md": "https://tom-howard.github.io/ros2/course/extras/course-repo/"
        "software/README.md": "https://tom-howard.github.io/ros2/software/"
        "about/README.md": "https://tom-howard.github.io/ros2/about/"
        "about/acknowledgements.md": "https://tom-howard.github.io/ros2/about/"
        "about/robots.md": "https://tom-howard.github.io/ros2/about/robots/"
        "about/license.md": "https://tom-howard.github.io/ros2/about/license/"
        "about/changelog.md": "https://tom-howard.github.io/ros2/about/changelog/"
        "com2009/README.md": "https://tom-howard.github.io/ros2/com/"
        "waffles/launching-ros.md": "https://tom-howard.github.io/ros2/waffles/launching-ros/"
        "waffles/intro.md": "https://tom-howard.github.io/ros2/waffles/intro/"
        "waffles/README.md": "https://tom-howard.github.io/ros2/waffles/"
        "waffles/shutdown.md": "https://tom-howard.github.io/ros2/waffles/shutdown/"
        "waffles/fact-finding.md": "https://tom-howard.github.io/ros2/waffles/essentials/"
        "waffles/exercises.md": "https://tom-howard.github.io/ros2/waffles/basics/"
        "extras/launch-files/roslaunch-api.md": "https://tom-howard.github.io/ros2/course/extras/launch-files/"
        "extras/launch-files/cla-to-node.md": "https://tom-howard.github.io/ros2/course/extras/launch-files/"
        "extras/launch-files/README.md": "https://tom-howard.github.io/ros2/course/extras/launch-files/"
        "extras/launch-files/roslaunch-clas.md": "https://tom-howard.github.io/ros2/course/extras/launch-files/"
        "extras/launch-files/launching-launch-files.md": "https://tom-howard.github.io/ros2/course/extras/launch-files/"
        "extras/launch-files/python-clis.md": "https://tom-howard.github.io/ros2/course/extras/launch-files/"
        "software/wsl-ros/README.md": "https://tom-howard.github.io/ros2/software/"
        "software/wsl-ros/on-campus.md": "https://tom-howard.github.io/ros2/software/"
        "software/wsl-ros/install.md": "https://tom-howard.github.io/ros2/software/"
        "software/on-campus/vscode.md": "https://tom-howard.github.io/ros2/software/"
        "software/on-campus/linux-term.md": "https://tom-howard.github.io/ros2/software/"
        "software/on-campus/getting-started.md": "https://tom-howard.github.io/ros2/software/"
        "software/on-campus/rdp.md": "https://tom-howard.github.io/ros2/software/"
        "software/manual/README.md": "https://tom-howard.github.io/ros2/software/"
        "software/manual/windows.md": "https://tom-howard.github.io/ros2/software/"
        "software/manual/linux.md": "https://tom-howard.github.io/ros2/software/"
        "com2009/assignment2/README.md": "https://tom-howard.github.io/ros2/com/assignment2/"
        "com2009/assignment2/submission.md": "https://tom-howard.github.io/ros2/com/assignment2/"
        "com2009/assignment2/getting-started.md": "https://tom-howard.github.io/ros2/com/assignment2/"
        "com2009/assignment1/part5.md": "https://tom-howard.github.io/ros2/course/part5/"
        "com2009/assignment1/README.md": "https://tom-howard.github.io/ros2/com/assignment1/"
        "com2009/assignment1/part3.md": "https://tom-howard.github.io/ros2/course/part3"
        "com2009/assignment1/part6.md": "https://tom-howard.github.io/ros2/course/part6"
        "com2009/assignment1/part1.md": "https://tom-howard.github.io/ros2/course/part1"
        "com2009/assignment1/part2.md": "https://tom-howard.github.io/ros2/course/part2"
        "com2009/assignment1/part4.md": "https://tom-howard.github.io/ros2/course/part4"
        "com2009/assignment2/parta/README.md": "https://tom-howard.github.io/ros2/com/assignment2"
        "com2009/assignment2/parta/task2.md": "https://tom-howard.github.io/ros2/com/assignment2"
        "com2009/assignment2/parta/task1.md": "https://tom-howard.github.io/ros2/com/assignment2"
        "com2009/assignment2/parta/submission.md": "https://tom-howard.github.io/ros2/com/assignment2"
        "com2009/assignment2/partb/task3.md": "https://tom-howard.github.io/ros2/com/assignment2"
        "com2009/assignment2/partb/README.md": "https://tom-howard.github.io/ros2/com/assignment2"
        "com2009/assignment2/partb/task4.md": "https://tom-howard.github.io/ros2/com/assignment2"
        "com2009/assignment1/part1/publisher.md": "https://tom-howard.github.io/ros2/course/part1"
        "com2009/assignment1/part1/subscriber.md": "https://tom-howard.github.io/ros2/course/part1"
        "com2009/assignment1/part2/twist-tips.md": "https://tom-howard.github.io/ros2/course/part2"
        "com2009/assignment1/part2/move_square.md": "https://tom-howard.github.io/ros2/course/part2"
        "com2009/assignment1/part5/search_client.md": "https://tom-howard.github.io/ros2/course/part5"
        "com2009/assignment1/part5/preemptive_action_client.md": "https://tom-howard.github.io/ros2/course/part5"
        "com2009/assignment1/part5/action_client.md": "https://tom-howard.github.io/ros2/course/part5"
        "com2009/assignment1/part5/search_server.md": "https://tom-howard.github.io/ros2/course/part5"
        "com2009/assignment1/part4/move_server.md": "https://tom-howard.github.io/ros2/course/part4"
        "com2009/assignment1/part4/move_client.md": "https://tom-howard.github.io/ros2/course/part4"
        "com2009/assignment1/part4/scan_callback.md": "https://tom-howard.github.io/ros2/course/part4"
        "com2009/assignment1/part6/object_detection_complete.md": "https://tom-howard.github.io/ros2/course/part6"
        "com2009/assignment1/part6/object_detection.md": "https://tom-howard.github.io/ros2/course/part6"
        "com2009/assignment1/part6/line_follower.md": "https://tom-howard.github.io/ros2/course/part6"
        "waffles/tips/bash-aliases.md": "https://tom-howard.github.io/ros2/waffles"
        "waffles/tips/sim-mode.md": "https://tom-howard.github.io/ros2/waffles"
        "waffles/tips/laptops.md": "https://tom-howard.github.io/ros2/waffles"
        "others/amr31001/README.md": "https://tom-howard.github.io/ros2/amr/"
        "others/amr31001/lab1.md": "https://tom-howard.github.io/ros2/amr/lab1"
        "others/amr31001/lab2.md": "https://tom-howard.github.io/ros2/amr/lab2"     

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: true
  - attr_list
  - md_in_html
  - footnotes
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
  - pymdownx.keys
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tilde
  - pymdownx.caret
  - pymdownx.tabbed:
      alternate_style: true

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra:
  analytics:
    provider: google
    property: G-1SSCKMNFPR
  consent:
    title: Cookie consent
    description: 
      We use cookies to monitor the usage of these resources, and to understand 
      how effective they are in supporting your learning. Cookies also help us to 
      evaluate how much impact our teaching materials are making in the community.
      With your support, you are helping us to make our teaching resources better.
